

<div class="container forgot-pass header">
    <form action="" method="post" ng-submit="">
        <h3>Forgot Your Password?</h3>
        <p>Enter your email and we'll send you a one time code to reset it.</p>
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" name="email" placeholder="Email"/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Retrieve Code</button>
            </div>
        </div>
    </form>
</div>