

<div class="container login header">
    <form action="" method="post" ng-submit="">
        <h3>Login</h3>
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" name="user" placeholder="Username/Email" ng-model = "account.user"/>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" name="password" placeholder="Password" ng-model = "account.pass"/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Login</button>
                <span><a href="/#!/forgot-pass" target="_self">Forgot Password</a></span>
            </div>
        </div>
    </form>
</div>