

<div class="container login header">
    <form ng-submit="login()">
        <h3>Login</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" name="user" placeholder="Username/Email" ng-model = "user.name"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="text" class="form-control" name="password" placeholder="Password" ng-model = "user.password"/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Login</button>
                <span><a href="/#!/forgot-pass" target="_self">Forgot Password</a></span>
            </div>
        </div>
    </form>
</div>