/* 
Orange: #F36626;
Yellow: #F3D70F;
Brown: #574420;
Gold: #E2B933;
Green: #85BF50;

Blue: #106189;
Turq: #5B907E;
White: #DDDFC0;
*/


/* Navbar for sign up page */
nav.navbar {
    background-color: #E2B933;
}
a.nav-link:hover {
    color: #574420 !important;
}
/* End of navbar */





/* form area */
.forgot-pass.header {
    padding: 100px 10px 100px 10px;
}

.forgot-pass.header form {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
}

.forgot-pass.header form input, form select {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .forgot-pass.header form {
        width: 80%;
    }
}
/* end of form area */

